<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunyisheng.app.yunys">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- WIFI网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 屏幕保持唤醒 不锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 调整多媒体音量 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- ************************************************ SD卡权限 *********************************************** -->
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- sdcard操作允许 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取SD卡数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- ************************************************ SD卡权限 end *********************************************** -->
    <!-- ************************************************ 日历 *********************************************** -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- ************************************************ 日历 end *********************************************** -->


    <!-- ************************************************ 访问照相机 *********************************************** -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ************************************************ 访问照相机 end *********************************************** -->
    <!-- ************************************************ 电话 *********************************************** -->
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- ************************************************ 电话 end *********************************************** -->
    <!-- ************************************************ 短信 *********************************************** -->
    <!-- 发送消息 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 阅读消息 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 写入消息 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!-- 接收消息 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- ************************************************ 短信 end *********************************************** -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="android.max_aspect"
            android:value="3.2" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yunyisheng.app.yunys.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".login.activity.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.RetrievePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.ReportformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.NoticeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.SendNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.NoticeDeatilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.MailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.SelectPeopleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.WorkerDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.MemorandumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.AddMemorandumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userset.activity.MyInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userset.activity.AccountSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userset.activity.MimaManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userset.activity.ClearCatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userset.activity.AboutOurActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userset.activity.EnterpriseinformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.activity.ScheduleDeatilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasks.activity.CreateProcessTaskAcitvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasks.activity.CreateDeviceTaskAcitvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasks.activity.CreateNoneDeviceTaskAcitvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasks.activity.ProjectTemplateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasks.activity.SelectProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.activity.ScheduleSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tasks.activity.CronResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".userset.activity.ChangeInformationActivity" />
        <activity
            android:name=".project.activity.ProjectDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".main.activity.InviteWorkerActivity" />
        <activity
            android:name=".project.activity.DeviceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.KnowledgeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.DeviceAlarmRulesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.DevicePartsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.PeriodicTaskListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.ModelDeviceListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.ModelDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project.activity.ModelAlarmRulesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.BumenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.RoleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".main.activity.ChangeOtherUserinfoActivity" />
        <activity android:name=".main.activity.ProjectFromWorkActivity"></activity>
    </application>

</manifest>